.pg-badge {
    position: relative;
}

.pg-badge-content {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    background: darkred;
    color: white;
    border-radius: 50%;
}
